body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
	max-width: 280px;
}

.menu {
	position: fixed;
	top: 0px;
	width: 100%;
}

.field-validation-error,
label.error {
	color: red;
}

.input-validation-error,
input.error {
	border: 2px solid red;
}

.NumberInStockBox {
	width: 50px;
	margin-left: 0px;
}

.navbar bg-primary navbar-fixed-top li {
	color: white;
}

.nav navbar-nav navbar-right li a {
	color: white;
}
